<div class="main" >
    <div style="position:relative">
        <form #loginForm="ngForm" action="">
            <div style="margin: 10px;">
                <h4> AllThatQuiz App</h4>
                <p> Login to start Quizzz.</p>
                <hr>
                <input type="text" required name="Username" placeholder="User Name"  [(ngModel)]="Username">
            </div>
            <div  style="margin: 10px;">
                <input required type="password" name="Password" placeholder="Password" [(ngModel)]="Password">
            </div>
            <div style="display: flex;justify-content: space-between; margin: 10px;">
                <label input></label>
                <div>
                    <button [disabled]="loginForm.invalid" (click)="calllogin()">Submit</button>
                </div>
                <div>
                    <button (click)="navigateToSignUp()">Sign Up</button>
                </div>
            </div>
        </form>

    </div>
  
  
</div>
